.messageEnvoye{
    float: right;
    border-radius: 15px 15px 0px 15px;
    border: 1px solid #4E7730;
    background: #71B340;
}

.messageRecu{
    float: left;
    border-radius: 15px 15px 15px 0px;
    border: 2px solid #71B340;
    background: #EBF4EC;
    
}

.message{
    width: fit-content;
    padding: 5px;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: flex-end;
    text-align: left;
}

#boutonEnvoyerMessage{
    padding: 12px;
    background: url('../img/paper plane.svg') no-repeat #FFFFFF;
    background-position: calc(50% - 3px) center;;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #575757;
    filter: drop-shadow(0px 0px 5px rgba(190, 190, 190, 0.25));
    margin-top: 24px;
    
}


.surContenu {
    background: url('../img/fond_messagerie.svg') no-repeat #fff;
    background-position: center;
    display: flex; 
    flex-direction: column;
	margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    height: 85%;
    
}

.contenuMessagerie {
    align-self: end;
    display: grid;
    height: max-content;
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
    
}

.contenuMessagerie > a {
    width: auto;
}

#zoneDEnvoi{
    margin-top: 10px;
    background-color: #71B340;
    display: grid;
    grid-template-columns:auto 47px;
    width: 100%;
}

#zoneDeTexte{
    border-radius: 17px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 30px;
    padding-left: 10px;
}

.interlocuteur {
    align-self: flex-start;
    background-color: #A3E373;
    padding: 4px;
    border-radius: 0px 0px 15px 0px;
    border: 1px solid rgba(78, 119, 48, 1);
    width: 250px;
}

