.messageEnvoye{
    float: right;
    border-radius: 23px 23px 0px 23px;
    border: 1px solid #4E7730;
    background: #71B340;
    text-align: right;
}

.messageRecu{
    float: left;
    border-radius: 23px 23px 23px 0px;
    border: 2px solid #71B340;
    background: #EBF4EC;
    text-align: left;
}

.message{
    width: fit-content;
    padding: 5px;
    margin: 10px;
}

#boutonEnvoyerMessage{
    padding: 12px;
    background: url('../../img/paper plane.svg') no-repeat #FFFFFF;
    background-position: calc(50% - 3px) center;;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    fill: #FFF;
    stroke-width: 1px;
    stroke: #575757;
    filter: drop-shadow(0px 0px 5px rgba(190, 190, 190, 0.25));
    margin-top: 24px;
    
}

.contenuMessagerie {
    background: #fff;
    display: grid;
    padding: 20px;
    margin: 5px;
    
}

.contenuMessagerie > a {
    width: auto;
}

#zoneDEnvoi{
    margin-top: 10px;
    background-color: #71B340;
    display: grid;
    grid-template-columns:auto 47px;
    width: 100%;
}

#zoneDeTexte{
    border-radius: 17px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 30px;
}