.container {
    display: flex;
}

.right-column {
    flex: 4;
    background-color: #f0f0f0;
    padding: 20px;
    justify-content: center;
}

.left-column {
    flex: 1;
    background-color: #669D31;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.fixed-banner {
    height: 50px;
    background-color: #0077b6;
    color: #fff;
    display: flex;
}

.banner-left {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.banner-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}


.banner-right {
    flex: 1; /* Partie droite du bandeau (50% de la largeur) */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 10px;
			
}

        
.contenu {
    background: #fff;
    display: flex; 
	flex-direction: column;
    justify-content: center ;
    padding: 20px;
	margin: 5px;
}

.square {
    width: 350px;
    height: 350px;
    background-color: #4caf50;
    margin: 5px;
}

.formulaire {
    background-color: #d2d2d2; /* Couleur de fond pour la partie droite */
    padding: 20px;
    display: flex;
    flex-direction: column;
	margin: 5px;
    justify-content: center ;	
}


.contenu {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 5px;
}

.square {
    width: 350px;
    height: 350px;
    background-color: #4caf50;
    margin: 5px;
}

.formulaire {
    background-color: #d2d2d2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
}

.content-container {
    display: flex;
    /* Utiliser Flexbox pour les éléments "product" et "map" */
}

.product {
    flex: 2;
    /* Partie gauche occupe 50% de la largeur */
    background-color: #f0f0f0;
    padding: 20px;
}

.producteur {
    flex: 1;
    /* Partie droite occupe 50% de la largeur */
    background-color: #c0c0c0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
}



.map-frame {
    width: 100%;
    height: 80%;
}


.img-prod {
    flex: 1;
    width: 100%;
    height: 100%;
}

.text-info {
    flex: 1;
    margin-left: 20px; /* Ajoutez une marge à gauche pour séparer le texte de l'image */
}