html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    height: 100%;
}

.right-column {
    flex: 4;
    background-color: #EBF4EC;
    justify-content: center;
    height: 100%;
}

.left-column {
    flex: 1;
    background-color: #669D31;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fixed-banner {
    height: 70px;
    background-color: #fff;
    display: flex;
}

.banner-left {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.banner-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.banner-right {
    flex: 1; /* Partie droite du bandeau (50% de la largeur) */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 10px;
			
}
      
.contenu {
    background: #fff;
    display: flex; 
	flex-direction: column;
    justify-content: center ;
    padding: 20px;
	margin: 5px;
}


.square {
    width: 350px;
    height: 350px;
    background-color: #4caf50;
    margin: 5px;
}

.formulaire {
    background-color: #d2d2d2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
}

.content-container {
    display: flex;
    /* Utiliser Flexbox pour les éléments "product" et "map" */
}

.product {
    flex: 2;
    /* Partie gauche occupe 50% de la largeur */
    background-color: #f0f0f0;
    padding: 20px;
}

.producteur {
    flex: 1;
    /* Partie droite occupe 50% de la largeur */
    background-color: #c0c0c0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
}

.map-frame {
    width: 100%;
    height: 400px;
}

.img-prod {
    flex: 1;
    width: 100%;
    height: 100%;
}

.text-info {
    flex: 1;
    margin-left: 20px; /* Ajoutez une marge à gauche pour séparer le texte de l'image */
}


.squareProduct {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    margin: 5px;
    max-width: 300px;
    max-height: 300px;
}

.img-produit {
    justify-content: center;
    flex: 1;
    max-height: 200px;
}

.logo {
    width: 100%;
    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25);
}