html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}


.squarePanelAdmin{
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    margin: 5px;
    max-width: 300px;
    max-height: 300px;
}

.square1 {
    width: 350px;
    height: 350px;
    background-color: #4caf50;
    margin: 5px;
}
.container{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 9fr;
}

.leftColumn{
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-width: 180px;

    display: block;

    background-color: #669D31;
}

.logo{
    width: 100%;

    box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.contenuBarre{
    margin-top: 5%;
    margin-right: 9%;
    margin-bottom: 5%;
    margin-left: 9%;
    padding: 0px;

    max-width: 82%;
}

.rightColumn{
    margin: 0px;
    padding: 0px;
    
    flex: 4;
    background-color: #EBF4EC;
    justify-content: center;
    height: 100%;
}

.topBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #fff;
}

.divNavigation{
    width: 45%;
    min-width: 360px;

    display: flex;
}

.bontonDeNavigation{
    padding: 13px;
    width: 33.3333%;
    max-width: 190px;
    
    color: #000;

    border-left: 1px solid #71B340;

    text-decoration:none;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 22px;
}

.bontonDeNavigation:hover{
    background: #DFEDE1;
    font-size: 21px;
    font-weight: 550;
    color: rgb(56, 56, 56);
}


.boutonDeConnection{
    padding: 15px;
    padding-right: 70px;
    border: none;
    background: url('../img/connexion.svg') no-repeat;
    background-position: calc(100% - 10px) center;

    font-size: 18px;

    cursor: pointer;

}


.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 10px;
			
}
/*
.contenuPage{
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    
    background-color: #fff;

    border-radius: 3px;

    overflow-y: scroll;
}
*/
.basDePage{
    display: flex;
    align-items: flex-end;
    position: relative;
    right: 0px;
    padding: 10px;
}

.alignementCentreCoteACote{
    display: flex;
    justify-content: center;
}



.commande {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    margin: 5px;
}

.content-container {
    display: flex;
    padding: 20px;
    /* Utiliser Flexbox pour les éléments "product" et "map" */
}

.product {
    flex: 1;
    /* Partie gauche occupe 50% de la largeur */
    background-color: #f0f0f0;
    padding: 20px;
}

.producteur {
    flex: 1;
    /* Partie droite occupe 50% de la largeur */
    background-color: #c0c0c0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.img-produit {
    justify-content: center;
    flex: 1;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.img-prod {
    flex: 1;
    width: 100%;
    height: 100%;
}