[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = JDjudgedead
	email = 88926501+JDjudgedead4@users.noreply.github.com
